<div class="row">
  <div class="col-md-9">
    <h1> ScholarsArchive@OSU FAQ</h1>
    <%= render partial: 'help_content_block' %>
  </div>

  <div class="col-md-3">
    <%= render partial: '/help_context' %>
  </div><!-- col-xs-3 -->
</div><!-- row -->

