<div class="row">
<div class="col-md-9">
  <h1>ScholarsArchive@OSU Undergraduate Student Frequently Asked Questions</h1>
  <%= editable_content_block @page %>
  <%= tiny_mce_stuff if can? :update, ContentBlock%>
</div>

  <div class="col-md-3">
    <%= render partial: '/help_context' %>
  </div><!-- col-xs-3 -->
</div><!-- row -->
