<% record.nested_geo_location.each do |location| %>
  <span itemprop="location" itemscope itemtype="http://schema.org/GeoCoordinates">
    <% location["name"].each do |name| %>
      <span itemprop="name"><%= name %></span>
    <% end %>
  </span>
  <br />
<% end %>
