<% record.keyword.each do |keyword| %>
  <span itemprop="keyword" itemscope itemtype="http://id.loc.gov/authorities/subjects">
    <%= link_to_facet(keyword, Solrizer.solr_name(:keyword, :facetable)) %>
  </span>
  <br />
<% end %>
