.circleci
.git
.github
.env
.dockerignore
.gitignore
.rspec
.rubocop_fix_me.yml
.rubocop.yml
.ruby-version
.version
docker-compose.*
Dockerfile
.circleci/*
.github/*
solr/*
coverage/
config/local_env.*
config/mysql/
config/blazegraph/
config/puma/development.rb
config/nginx_rewrites.conf
build/build.sh
m1/*
tmp/*
spec/