.circleci
.git
.github
.env
.dockerignore
.fcrepo_wrapper
.gitignore
.rspec
.rubocop_fix_me.yml
.rubocop.yml
.ruby-version
.solr_wrapper
.solr_wrapper.yml
.version
docker-compose.*
Dockerfile
.circleci/*
.github/*
solr/*
coverage/
config/local_env.*
config/mysql/
config/solr_wrapper_test.yml
config/fcrepo_wrapper_test.yml
config/blazegraph/
config/puma/development.rb
config/nginx_rewrites.conf
build/build.sh
m1/*
tmp/*
spec/