<div id="date_wrapper">
  <div class="row"> 
    <legend>Dates</legend>
    <div class="col-sm-6">
      <select name="new_date_type" id="new_date_type" class="form-control">
        <option value="Select a date type">Select a date type</option>
        <option value="accepted_date">Accepted</option>
        <option value="available_date">Available</option>
        <option value="copyrighted_date">Copyrighted</option>
        <option value="collected_date">Collected</option>
        <option value="created_date">Created</option>
        <option value="issued_date">Issued</option>
        <option value="submitted_date">Submitted</option>
        <option value="modified_date">Modified</option>
        <option value="valid_date">Valid</option>
      </select>
    </div>
    <div class="col-sm-3">
      <button class="btn" id="add_new_date_type">+
        <!-- <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;plus"></i></span> -->
      </button>
    </div>
  </div>

  <div class="form-group multi_value generic_file_date_created managed">
    <div>Date Type</div>
    <ul id="date_listing" class="listing"> 
      <li class="field-wrapper input-group input-append">
        <input class="string multi_value generic_file_date_created form-control multi-text-field" name="generic_file[date_created][]" value="" id="generic_file_date_created" type="text">
      </li>
    </ul>
  </div>
</div>
</div>

