<div id="date_wrapper" class="form-group">
  <div class="row">
    <legend class="legend-edit-work">Dates</legend>
    <div class="date_hint">
      <%= t('simple_form.hints.admin_set.date') %>
    </div>
    <div class="warning-anchor"></div>
    <div class="col-sm-12">
      <%= select_tag_dates(:new_date_type, f)  %>
    </div>
  </div>
  <div id="date_fields">
    <div class="col-sm-12">
      <table class="table">
        <thead>
        <tr>
          <th>Dates</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <% f.object.date_terms.each do |term| %>
            <% if f.object.multiple? term %>
                <%= render_edit_field_partial(term, f: f) if f.object.send(term).first.present? %>
            <% else %>
                <%= render partial: 'scholars_archive/base/form_date_field', :locals => { term: term, f: f } if f.object.send(term).present? %>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
