<div id="date_wrapper">
  <div class="row">
    <legend>Dates
      <i class='help-icon' data-toggle="modal" data-target="#myModal"></i>
    </legend>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Date Types Summary</h4>
          </div>
          <div class="modal-body">
            <%= raw t('sufia.dates_modal') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>

      <div class="warning-anchor"></div>
      <div id="date_select" class="col-sm-6">
        <select name="new_date_type" id="new_date_type" class="form-control">
          <option value="">Select a date type</option>
          <option value="accepted" data-label="Date Accepted">Accepted</option>
          <option value="available" data-label="Date Available">Available</option>
          <option value="collected" data-label="Date Collected">Collected</option>
          <option value="copyrighted" data-label="Date Copyrighted">Copyrighted</option>
          <option value="issued" data-label="Date Issued">Issued</option>
          <option value="date" data-label="Date Published">Published</option>
          <option value="valid_date" data-label="Date Valid">Valid</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button class="btn" id="add_new_date_type">
          <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;plus"></i></span>
        </button>
      </div>
    </div>
    <%= f.input :date_created, as: :multi_value, :label_html => {:class => "date-header-label date-picker-enabled"}%>
    <% f.object.class.date_terms.each do |date_term| %>
      <% unless f.object.model.get_values(date_term).empty? %>
        <%= f.input date_term, as: :multi_value, :label_html => {:class => "date-header-label date-picker-enabled"} %>
      <% end %>
  </div>

</div>

