<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Article Deposit Notice</h3>
    <p>Hi there, thank you for submitting an article work to Scholars Archive. Below you is a
       confirmation infomation on your submission and your own personal URL where your article
       is located.
    </p>

    <br>

    <p>Confirmation Deposit:</p>
    <p>Article's Title - <%= @article_data[:title] %></p>
    <p>Depositor - <%= @article_data[:creator] %></p>
    <p>Article's ID - <%= @article_data[:article_id] %></p>

    <br>

    <p>Link to Deposited Article:</p>
    <p>pURL: <%= @article_data[:link_url] %></p>
    
    <br><br>
    <p> - Scholars Archive Support </p>
  </body>
</html>