<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Accessibility Consultation Request</h3>
    <p>Hello,</p>
    <p>A Library Accessibility Team member will reach out to you via email to help make your work accessible.</p>
    <p>Thank you,</p>
    <p>ScholarsArchive@OSU Admin</p>
    <p>Oregon State University Libraries and Press</p>
  </body>
</html>