<%# Copied from https://github.com/projectblacklight/blacklight_advanced_search/blob/master/app/views/blacklight_advanced_search/_facet_limit.html.erb %>
<%# Added facet_display_value call to only show facet label, not label$URI in selected facet constraints%>

<div class="advanced_facet_limit">
  <div class="inclusive_or well">
    <h4>Any of:</h4>
    <ul class="list-unstyled facet-values">
      <% advanced_query.filters[solr_field].each do |value| %>
        <li>
          <span class="selected"><%= h(facet_display_value(solr_field, value)) %></span>
          <%= link_to remove_advanced_facet_param(solr_field, value, params) do %>
            <span class="glyphicon glyphicon-remove"></span><span class="sr-only">[remove]</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render_facet_limit display_facet, :partial => advanced_search_facet_partial_name(display_facet) %>
</div>
