<b>Not sure what type to choose? Check out the <a href='https://guides.library.oregonstate.edu/scholars-archive' target='_top'>User Guide</a> or <a href='https://ir.library.oregonstate.edu/contact'>contact us</a> -- use the contact form or email scholarsarchive[at]oregonstate.edu</b>
