<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Human Subject Data Reported</h3>
    <p>The submitter indicated that the dataset contains human subjects data, below is more info about the Dataset:</p>

    <br>

    <p>Dataset Title: <%= @human_data_info[:title] %></p>
    <p>Dataset ID & Link to Dataset: <%= link_to @human_data_info[:dataset_id], @human_data_info[:link_url] %></p>
    <p>Depositor: <%= @human_data_info[:creator] %></p>

    <br><br>
    <p> - Scholars Archive Support </p>

  </body>
</html>