<h1>Frequently Asked Questions</h1>
 <h2>ScholarsArchive@OSU - General FAQ</h2>
 <p>
 <p>&nbsp;</p><p><a href="#what">1. What is ScholarsArchive@OSU?</a></p>
<p><a href="#who">2. Who can contribute items to ScholarsArchive@OSU?</a></p>
<p><a href="#benefits">3. What are the benefits of depositing my research or scholarly materials into ScholarsArchive@OSU?</a></p>
<p><a href="#access">4. Who can access the items in ScholarsArchive@OSU?</a></p>
<p><a href="#organized">5. How is ScholarsArchive@OSU organized?</a></p>
<p><a href="#browse">6. How do I browse ScholarsArchive@OSU?</a></p>
<p><a href="#search">7. How do I search ScholarsArchive@OSU?</a></p>
<p><a href="#types">8. What types of materials are collected in ScholarsArchive@OSU?</a></p>
<p><a href="#formats">9. What file formats does ScholarsArchive@OSU support?</a></p>
<p><a href="#stats">10. How do I access usage statistics for items, collections or communities in ScholarsArchive@OSU?</a></p>
<p><a href="#license">11. What is the ScholarsArchive@OSU Distribution License? </a></p>
<p><a href="#cc">12. What is a Creative Commons License?</a></p><p><a href="#13.">13. Are my pageview and download statistics accurate?</a></p>
<p><a href="#contact">14. Who do I contact if I have questions about ScholarsArchive@OSU?</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p><p><strong><a id="what" title="what" name="what"></a>1. What is ScholarsArchive@OSU?</strong></p><p>&nbsp;</p>

<p>ScholarsArchive@OSU is Oregon State University’s digital repository for research, scholarship and historical records. OSU Libraries is responsible for collecting, maintaining, preserving and providing access to the items in ScholarsArchive@OSU. </p>

<p><strong><a id="who" title="who" name="who"></a>2. Who can contribute items to ScholarsArchive@OSU?</strong></p>
<p>Anyone belonging to the OSU community can contribute to ScholarsArchive@OSU. <em>Faculty</em> can use the Open Access Policy <a href="http://cdss.library.oregonstate.edu/sites/default/files/osu_openacesspolicy_final_single_page.pdf">web form</a> to deposit articles. To deposit other materials, contact scholarsarchive@oregonstate.edu . More information for faculty can be found <a href="http://cdss.library.oregonstate.edu/sa-faculty">here</a>. Many <em>graduate students</em> are required to deposit their thesis or dissertation into ScholarsArchive@OSU. Other graduate students may be required to deposit a final research paper.  Graduate students can find more information <a href="http://cdss.library.oregonstate.edu/sa-graduates">here</a>. <em>Undergraduate</em> and other students should work with their instructor, advisor or department official to deposit work into ScholarsArchive@OSU. Specific information for undergraduates can be found <a href="http://cdss.library.oregonstate.edu/sa-undergraduates">here</a>.&nbsp;
</p>

<p><strong><a id="benefits" title="benefits" name="benefits"></a>3. What are the benefits of depositing my research or scholarly materials into ScholarsArchive@OSU?</strong></p>

<p>&nbsp;</p><ol><li><em>Universal access.</em> Everything in ScholarsArchive@OSU is freely available to anyone in the world with a web browser and an Internet connection. There are no fees to access your work.</li>
<li><em>Increased impact.</em> Scholarship available through open access is cited more often than that which is available only via paid subscriptions. Increased visibility and use of open access scholarship increases impact, as demonstrated by increased citations and download statistics available in ScholarsArchive@OSU. </li>
<li><em>More exposure.</em> ScholarsArchive@OSU makes your work freely available to anyone who may be interested. </li>
<li><em>Easier information discovery.</em> The full text of your work and its metadata is searchable, making it discoverable through Google, Google Scholar, other large search engines and library search tools.</li>
<li><em>Persistent access.</em>You’ll receive a persistent URL for your work that won’t break or disappear. You can paste this URL into any document, resume, vita or webpage with confidence that it will work in the future.</li>
<li><em>Long-term preservation.</em> OSU Libraries is committed to maintaining and preserving content and associated metadata stored within ScholarsArchive@OSU.</li>
<li><em>New computational research technologies.</em> ScholarsArchive@OSU can take advantage of new computational research technologies to provide additional functionality, such as text mining and data linking.</li>
<li><em>Highlight research.</em> ScholarsArchive@OSU provides a showcase for your department’s research and scholarship. You can point to your department’s scholarship to attract scholars, researchers and funding. </li>
<li><em>Create a corpus of OSU research and scholarship.</em> ScholarsArchive@OSU captures the intellectual capital of Oregon State University in one place.</li></ol>
<p>&nbsp;</p>

<p><strong><a id="access" title="access" name="access"></a>4. Who can access the items in ScholarsArchive@OSU?</strong></p>

<p>The vast majority of items in ScholarsArchive@OSU can be freely accessed by anyone in the world with an Internet connection. There’s no need to register or login to view or download items.</p>
	
<p>A small number of items are restricted to the OSU community at the request of the author. If you’re interested in viewing a restricted item, please email us at scholarsarchive@oregonstate.edu, and we’ll attempt to put you in direct contact with the author. 
</p>

<p><strong><a id="organized" title="organized" name="organized"></a>5. How is ScholarsArchive@OSU organized?</strong></p>
<p>ScholarsArchive@OSU is organized into Communities and Collections. Communities are academic or campus units such as College of Forestry, Department of Mathematics or Institute for Natural Resources. Collections are groups of digital objects that are similar to one another. Examples of items found in collections are theses and dissertations, conference proceedings, technical reports and faculty research publications.</p>

<p>Each community decides for themselves what is important to collect. For example, the College of Earth, Ocean and Atmospheric Sciences has established <a href="http://ir.library.oregonstate.edu/xmlui/handle/1957/1309">these collections</a>:
</p><ul>
<li>Reports</li>
<li>Data Report Series</li>
<li>Faculty Research Publications</li>
<li>Progress Reports</li>
<li>Reference Series</li>
<li>Theses, Dissertations and Student Research Papers</li>
</ul>
<p>&nbsp;</p>

<p><strong><a id="browse" title="browse" name="browse"></a>6. How do I browse in ScholarsArchive@OSU?</strong></p>

<p>There are three ways to browse ScholarsArchive@OSU. You can:
</p><ul>
<li>Browse all of ScholarsArchive@OSU</li>
<li>Browse a specific community (including its associated collections)</li>
<li>Browse a specific collection<ul>
<li>Search all of ScholarsArchive@OSU. Enter search term or terms in the search box found in the upper right corner of each page. Limit the number of terms and be as specific and descriptive as possible to provide relevant results.</li>
<li>Search within a collection or a community. Browse to a community or collection home page and enter a search term or terms in the box at the top of the community or collection page.</li>
<li>Advanced Search. Advanced Search can be found by clicking on the Advanced Search link located underneath the search box in the upper right corner of each page. Using Advanced Search you can restrict your search to specific fields (e.g. title, author, abstract, date issued, etc.). </li>
<li>You may also select a specific collection to search at the top of the Advanced Search screen. Specific search terms and Boolean operators (AND, OR, NOT) within a search box provide more relevant results. You may add additional search terms (restricting your search) by selecting “Add Filter”. Select “Apply” to conduct your search. </li></ul><ul>
<li>Faculty Scholarship in the form of:<ul><li>Journal articles</li>
<li>Conference proceedings</li>
<li>Presentations</li>
<li>Data sets</li>
<li>Book chapters</li>
<li>Books</li>
<li>Working papers</li></ul></li>

<li>White papers</li>
<li>Departmental Technical Reports</li>
<li>Graduate Theses, Dissertations and Projects in Lieu of Dissertations such as Final Research Papers</li>
<li>Undergraduate Theses and Research Papers</li>
<li>University Historical Records</li>
<li>University Publications</li>
</ul><ul>
<li>Adobe PDF (.pdf)</li>
<li>XML (.xml)</li>
<li>Text (.txt)</li>
<li>HTML (.htm, .html)</li>
<li>MS Word (.doc, .docx)</li>
<li>MS Powerpoint (.ppt, .pptx)</li>
<li>MS Excel (.xls, .xslx)</li>
<li>JPEG (.jpg, .jpeg)</li>
<li>GIF (.gif)</li>
<li>TIFF (.tif, .tiff)</li>
</ul></li><p>&nbsp;</p>

<p>You can browse all of ScholarsArchive@OSU from any page, but you need to
navigate to a community’s or collection’s home page (or be in the community or collection) in order to browse that community’s or collection’s contents. Select ‘Issue Date’, ‘Authors’, ‘Titles’, or ‘Subjects’.</p>

<p>Selecting ‘Authors’, ‘Titles’, or ‘Subjects’ allows you to browse through the listing in alphabetical order, either A-Z or Z-A. You can limit your browsing to just one letter by either clicking on the letter or typing a few letters in the text box.</p>

<p>Selecting ‘Issue Date’ allows you to jump to a specific year and/or month. You can sort results by issue date, submit date or title.
</p>

<p><strong><a id="search" title="search" name="search"></a>7. How do I search ScholarsArchive@OSU?</strong></p>

<p>There are several ways to search in ScholarsArchive@OSU:

</p>
<p>&nbsp;</p>

<p><strong><a id="types" title="types" name="types"></a>8. What types of materials are collected in ScholarsArchive@OSU?</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p><strong><a id="formats" title="formats" name="formats"></a>9. What file formats does ScholarsArchive@OSU support?</strong></p>

<p>ScholarsArchive@OSU is format agnostic. It can accept files of any format. OSU Libraries will ensure that all files deposited are <em>retrievable</em>. In addition, ScholarsArchive@OSU promises to ensure that the following common file formats (among many others) are <em>useable</em> in the future, using whatever combination of techniques (such as migration, emulation, etc.) is appropriate given the context of need:
</p>
<p>&nbsp;</p>

<p><strong><a id="stats" title="stats" name="stats"></a>10. How do I access usage statistics for items, collections or communities in ScholarsArchive@OSU?</strong></p>

<p>To view the top ten downloaded items, the total number of downloads, monthly downloads and other statistics for a community or collection, select View Usage Statistics on the right hand side of a community or collection page. </p>

<p>To view download statistics for an individual item, you may select View Usage Statistics on the right hand side of an item page. 
</p>

<p><strong><a id="license" title="license" name="license"></a>11. What is the ScholarsArchive@OSU Distribution License?</strong></p>

<p>The non-exclusive ScholarsArchive@OSU Distribution License allows OSU Libraries to reproduce, translate and distribute your work worldwide in print and electronic format and in any current or future medium. The Distribution License in no way affects your copyright as the author of the work.</p>

<p><strong><a id="cc" title="cc" name="cc"></a>12. What is a Creative Commons License?</strong></p>

<p>A <a href="http://creativecommons.org/licenses/">Creative Commons</a> License allows copyrighted works to be shared and re-used, within certain parameters, without contacting the author or creator of the copyrighted work. You may assign a Creative Commons License when depositing your work into ScholarsArchive@OSU or you may skip this step.</p><p><strong><a name="13."></a>13. Are my pageview and download statistics accurate?</strong></p><p class="p1">Pageview and download statistics are common analytics reported by institutional repositories like ScholarsArchive@OSU. Unfortunately, these numbers are often polluted and inflated by non-human activities, such as those of bots, spiders, and crawlers. In previous year, to help tackle inaccuracies in statistics, CDSS has worked to retroactivly 'clean' statistics in the hope of making them more accurate. These activities were met with some success, but also created frustrations for our users. </p><p class="p1">In 2015, CDSS decided, as policy, to stop cleaning statistics in ScholarsArchive@OSU. That decision was made for a number of reasons including that we weren’t sure that the processes we were using were actually that accurate or helpful, that retroactive cleaning was leading to delays in stats delivery, and that some faculty were complaining about their stats numbers changing over time (pre and post cleaning).&nbsp;</p>
<p class="p1">Ultimately, it’s pretty clear to us that page views and downloads should be seen as relative numbers that can give an overall sense to scale vis a vis activity on an article in the repository, but that the absolute values are unreliable at best.&nbsp;</p>
<p class="p1">As we move to our new repository platform, we’ll be working to implement some more on-the-fly statistics cleaning methods.</p><p><strong><br /></strong></p>

<p><strong><a id="contact" name="contact"></a><a name="14."></a>14. Who do I contact if I have questions about ScholarsArchive@OSU?</strong></p>

<p>Contact ScholarsArchive@OSU by sending an email to <a href="mailto:scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a>. 

</p>
 </p>
