<h1>Terms of Use for <%= application_name %></h1>

<p>
The ScholarsArchive@OSU institutional repository is maintained by the Center for Digital Scholarship and Services at Oregon State University Libraries &amp; Press, in support of the University mission to disseminate information and research to scholars, educators and the public.
The  repository contains material provided by Oregon State University authors and by various third parties, both individuals and organizations, commercial and otherwise. The use of this material is protected by copyright and unless the terms of use are clearly stated with respect to individual items, users must seek permission from the copyright owner for all uses that are not otherwise allowed by these terms of use, fair use and other provisions of the United States Copyright Act. 
</p>

<p><strong>Open Access Policy Articles.</strong> Some of the material within the repository consists of scholarly articles deposited under an Oregon State University Open Access Policy (“OAP Articles”). Subject to the other provisions of these Terms of Use, you may use, reproduce, distribute, and display the OAP Articles for:</p>

<p></p><ul><br />a. personal study;

<br />b. teaching (including distribution of copies to students and use in coursepacks and courseware programs);

<br />c. research and scholarship (including computational research uses such as data-mining and text-mining); and

<br />d. provision of value-added services (including full-text searching, cross-referencing, and citation extraction);</ul><p>

</p><p>provided in each case that:</p><p>

</p><ul><br />i. you will not sell or charge for any OAP Article (whether or not any profit is involved) and will not sell advertising on the same page as any OAP Article;

<br />ii. if you make an OAP Article available to others, you will retain with the article its title, the name of the author(s), a reference to these Terms of Use, and any copyright notice included on the original;

<br />iii. if you make an OAP Article available on-line, you will use reasonable efforts both to cite to the publisher’s definitive version of the article if it has been published, and to provide a link to the publisher’s version if it is available on-line;

<br />iv. you may not use a facsimile of the published version of an article under these open access terms, unless the publisher so permits and that version has been made available as an OAP Article on the Site;

<br />v. you will not make any translation, adaptation or other derivative work of an OAP Article, except that, as reasonably necessary in order to carry out a permitted use, you may include the article in a collection or database, may change the technical format of the article, and may use excerpts of the article for teaching or other permitted purposes, so long as, in each case, (A) your use of the article or any portion thereof continues to comply with all provisions of these Terms of Use that are applicable to OAP Articles, (B) you do not misrepresent the substance of the article, and (C) your derivative of the article includes a citation, hyperlink, or similar reference to the original article and appropriately identifies the nature of the derivative work (e.g., “abridged from_____”); and

<br />vi. you may not sublicense or otherwise transfer your rights in any OAP Article, and will only make OAP Articles available to others for use by them under these Terms of Use as in effect from time to time.</ul><p><strong>Other Posted Material.</strong> Posted Material other than OAP Articles (“Other Posted Material”) is made available on the Site at the direction of authors according to their understanding of their rights in that material. You may download and use Other Posted Material in any manner not prohibited by copyright or other applicable law. Although we do not grant you any rights in Other Posted Material, authors in some cases may allow additional uses of certain Other Posted Material. In that event the terms applicable to the additional uses are indicated on the Site in connection with that Other Posted Material.</p>

<p>Email <a href="mailto:scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a> with any questions.</p>
