<div id="date_wrapper">
  <div class="row"> 
    <legend>Dates</legend>
    <div class="date_hint">
      <%= t('simple_form.hints.admin_set.date') %>
    </div>
    <div class="warning-anchor"></div> 
    <div class="col-sm-6">
      <%= select_tag_dates(:new_date_type, f)  %>
    </div>
  </div>
  <div id="date_fields">
    <div class="col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th>Dates</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% f.object.date_terms.each do |term| %>
            <% if f.object.send(term).present? %>
                <% if f.object.multiple? term %>
                    <%= render_edit_field_partial(term, f: f) %>
                <% else %>
                    <%= render partial: 'scholars_archive/base/form_date_field', :locals => { term: term, f: f } %>
                <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
