  <div class="col-sm-6">
    <div class="input-group">
      <input placeholder="Start date" id="timepicker_start_<%= term.to_s %>" type="text" value="" class="form-control timepicker_start">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default calendar_start" aria-label="Calendar" data-id="<%= term.to_s %>">
          <span class="glyphicon glyphicon-calendar"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <input placeholder="End date" id="timepicker_end_<%= term.to_s %>" type="text" value="" class="form-control timepicker_end">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default calendar_end" aria-label="Calendar" data-id="<%= term.to_s %>">
          <span class="glyphicon glyphicon-calendar"></span>
        </button>
      </div>
    </div>
  </div>
