<p> The work you are trying to look at <b><%= handle_uri %></b> doesn't seem to have the file you requested <b><%= file  %></b>. This error has been logged and administrators are aware of the issue. If you believe this is an error please notify an administrator via the contact page. Thank you.</p>
<p> The file requested may be available as part of: <a href=<%= work_path %>> <%= work_title.first %> </a>
