<p> The work you are trying to look at <b><%= @handle_uri %></b> doesn't seem to have the file you requested <b><%= @file  %></b>. If you believe this is an error please notify an administrator. Thank you.</p>
<p> You can find the works main page here: <a href=<%= @work_path %>> Link to Work </a>
