<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Accessibility Attestation Support</h3>
    <p><%= @user %> has indicated they would like an accessibility consultation for their SA@OSU deposit: <a href="<%= 'ir.library.oregonstate.edu/concern/#{@work.class.to_s.downcase}/#{@work.id}' %>"> <%= 'ir.library.oregonstate.edu/concern/#{@work.class.to_s.downcase}/#{@work.id}.' %></a></p>
  </body>
</html>