@import "osu_settings";

/* Temporary override to disable 'Explore Collections' tab */

body {
  font-family: 'Open Sans', sans-serif !important;
}

#content-wrapper
  > div
  > div.row.home-content
  > div:nth-child(2)
  > ul
  > li:nth-child(2) {
  display: none;
}

/* Override Hyrax dashboard class. */
.dashboard {
  padding-top: 0px !important;
}

.dashboard #masthead {
  position: relative !important;
}

.image-masthead .background-container {
  // Override Hyrax masthead blur setting
  -webkit-filter: blur(0px) !important;
  filter: blur(0px) !important;
}

#masthead {
  margin-bottom: 0px;
}

#masthead .navbar-header {
  height: 100px;
}

#lower-banner-border-masthead {
  overflow: hidden;
  background: $osu-black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

#lower-banner-border-masthead h1 a {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
  text-decoration: none;
}

#lower-banner-border-masthead a:hover,
a:focus {
  text-decoration: underline;
}

#lower-banner-border-masthead .group-header h1 {
  font-family: "Open sans", sans-serif;
  display: inline;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
}

#logo {
  min-height: 105px;
  float: none;
}

#logo img {
  border-style: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
  height: 60px;
}

#logo span.institution_name {
  padding-left: 26px;
}

@media screen and (min-width: 480px) {
  #masthead .navbar-header {
    height: 100px;
  }

  #logo img {
    width: 250px;
  }
  #logo img {
    height: 80px;
  }
  #logo span.institution_name {
    padding-left: 0px;
  }
}

div.facets h3 {
  font-size: 1.2em !important;
}

div#date_wrapper,
div#geo_wrapper {
  padding-left: 1em;
}

#date_fields {
  padding-top: 1em;
}

#date_fields .form-group {
  margin-bottom: 0em;
}

#date_fields table.table tr td {
  vertical-align: bottom;
}

#date_wrapper .date_range_input input {
  max-width: 47em;
  margin-bottom: 0.5em;
}

#date_fields tr.date_field button.remove_date_type.date-range {
  margin-top: -12.5em;
}

#date_fields tr.date_field button.remove_date_type.date-default {
  margin-top: -6em;
}

.date-range-label {
  height: 1.5em;
}

.date-range-inputs {
  margin-top: 0.5em;
}

.date_hint {
  padding-bottom: 10px;
}

.geo-input input.form-control {
  margin-bottom: -1.5em;
}

.geo-input ul.listing {
  margin-left: -4em;
}

#geo_fields .btn.remove {
  color: #d9534f;
}

.controlled_vocabulary .listing {
  max-width: 100% !important;
}

.multi_value .listing,
.controlled_vocabulary .listing {
  max-width: 100% !important;
}

.input-group-addon,
.input-group-btn {
  width: 1% !important;
}

.select2-container {
  width: 75% !important;
  border: none !important;
}

#s2id_find_child_work {
  width: 75% !important;
}

table[data-behavior="child-relationships"] > tbody > tr > td {
  max-width: 0;
}

.form-group .controlled_vocabulary {
  width: 100% !important;
}

.select2-default {
  background-color: none !important;
}

.select2-container .select2-choice .select2-arrow {
  background: #fff !important;
  border-left: 0px !important;
  background-image: none !important;
}

.select2-container .select2-choice {
  height: 36px !important;
  background-image: none !important;
}

.select2-container .select2-choice > .select2-chosen {
  margin-top: 5px !important;
  color: #444 !important;
}

.select2-container .select2-choice .select2-arrow {
  margin-top: 5px !important;
}

#user-participants-form .select2-container {
  width: 40% !important;
}

div .modal-dialog {
  width: 65%;
}

div .select-worktype {
  border: none;
}

.new-work-select {
  .modal-body {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        .worktype-row {
          margin: 0 !important;
          h3:not(.work-type-title) {
            margin-top: 0 !important;
            color: $osu-orange;
          }
        }
      }
      li:nth-child(odd) {
        .worktype-row {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.row.match-my-cols {
  overflow: hidden;
  padding: 0 15px 0 15px;
}

.row.match-my-cols [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

footer.site-footer {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0 20px 20px;
  background: $osu-black;
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #39393a),
    color-stop(100%, #252525)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #39393a 0%, #252525 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #39393a 0%, #252525 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #39393a 0%, #252525 100%);
  /* IE10+ */
  background: linear-gradient(top, #39393a 0%, #252525 100%);
  /* W3C */
  border-top: 4px solid $osu-orange;
}

footer.site-footer a.navbar-link {
  color: #fff;
  text-decoration: underline;
}

footer.site-footer a.navbar-link:hover {
  color: #fff;
  text-decoration: none;
}

div[class$="embargo_release_date"] {
  width: 100%;
}

#embargo_date_select {
  width: 99%;
}

.small-padding.col-md-2 {
  padding-left: 2px;
}

.fill_embargo_column {
  width: 92%;
}

input.fill_column {
  width: 100% !important;
}

.hasDatepicker {
  width: 16.5%;
}

.date_picker_wrapper {
  padding-left: 85px;
}

.legend-edit-work {
  border: none;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.other_affiliation_other.multi-value-select-other.has-error,
.degree_field_other.multi-value-select-other.has-error,
.degree_name_other.multi-value-select-other.has-error,
.related_item.multi-value-label-url.has-error {
  background-color: white;
  margin-bottom: 3.5em;
}

.other_affiliation_other.multi-value-select-other.has-error .help-block,
.degree_field_other.multi-value-select-other.has-error .help-block,
.degree_name_other.multi-value-select-other.has-error .help-block {
  padding-top: 3em;
}

.match-my-cols .select-worktype:first-child {
  border-top: 1px solid #ddd;
}

.document h2 {
  font-size: 24px;
}

li.document .attribute-label {
  font-size: 15px;
}

li.attribute.abstract a {
  color: #337ab7 !important;
}

.modal-footer.help-text {
  b {
    text-align: center;
    width: 100%;
    float: left;
    a {
      color: $osu-orange !important;
    }
  }
}

p.deposit-help {
  span.label.deposit-help {
    background-color: $osu-orange !important;
    font-size: 1.35rem;
  }
}
hr.deposit-help {
  margin: 0 0 10px 0;
}

.site-footer {
  height: 150px !important;
  bottom: -25px !important;

  .navbar-right {
    margin-right: 15px;
  }
  .navbar-text {
    margin: 0 15px;
  }

  .navbar-image {
    margin: -10px 15px;
    float: right;
  }
    .navbar-image_image-custom {
      height: 80px;
      width: 80px;
    }

  .deployed {
    color: rgba($color: #fff, $alpha: 0.2);
    font-size: 12px;
  }
}

.modal-footer {
  .pagination {
    margin: 0;
    ul.pagination {
      margin: 0;
    }
  }
}

li.attribute {
  word-break: break-word;
}

.field-wrapper {
  textarea {
    resize: vertical;
  }
}

ol.dd-list.dd-dragel {
  display: inherit;
  .dd-item {
    display: table;
  }
  .dd3-handle.dd-handle {
    display: table-cell;
    position: inherit;
  }
}

.ordered-field-container {
  position: inherit;
  display: inherit;
  font-size: inherit;
  line-height: inherit;
  .draggable-order {
    .dd-item {
      display: table;
    }
    .dd3-handle.dd-handle {
      display: table-cell;
      position: inherit;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .dd-handle.dd3-handle {
      max-width: 30px;
      padding: 0px;
    }

    .glyphicon {
      display: inline-block;
      position: inherit;
    }

    input textarea {
      font-size: initial;
      padding-left: 5px;
    }
  }
  .group-up-down-arrows {
    button {
      margin-right: 2px;
    }
    button.up-arrow {
      margin-left: 2px;
    }
  }

  .text-area-dd-handle {
    height: 68px !important;
    position: absolute !important;
    z-index: 1;
  }

  .text-area-nested-field {
    width: 78px !important;
    height: 68px;

    button.down-arrow {
      float: right;
      top: 34px;
      position: absolute;
      width: 53%;
      height: 34px;
      margin-left: 33px !important;
      margin-right: 2px;
    }
    button.up-arrow {
      top: 0px;
      position: absolute;
      width: 53%;
      height: 34px;
      margin-right: 2px;
      margin-left: 33px;
    }
    .glyphicon {
      top: 10px;
      right: 11px;
    }
  }
  .multi-input-nested-item {
    button.down-arrow {
      float: right;
    }
  }
}

.comment-time {
  font-size: 10px;
  font-style: italic;
  color: #808080;
}

textarea.nested-field {
  min-height: 68px !important;
}

.dd-dragel {
  .text-area-dd-handle {
    height: 68px !important;
    position: absolute !important;
    z-index: 1;
  }
  .multi-input-nested-item {
    button.down-arrow {
      float: right;
    }
  }
  .text-area-nested-field {
    width: 78px !important;
    height: 68px;

    button.down-arrow {
      float: right;
      top: 34px;
      position: absolute;
      width: 53%;
      height: 34px;
      margin-left: 33px !important;
      margin-right: 2px;
    }
    button.up-arrow {
      top: 0px;
      position: absolute;
      width: 53%;
      height: 34px;
      margin-right: 2px;
      margin-left: 33px;
    }
    // .glyphicon {
    //   top: 10px;
    //   right: 11px;
    // }
  }
}

dd.preformatted {
  white-space: pre-wrap;
}
.dl-horizontal dd.preformatted::before, .dl-horizontal dd.preformatted::after {
  display: unset;
  content: unset;
}
div.metadata dd em {
  background-color: $highlight-yellow;
}

li:not(:last-child) > dd.preformatted {
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
}

button.copy-single-use-link {
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
}

// Added so Bootstrap buttons in Mac Chrome don't have a white fill color
button.btn-secondary {
  -webkit-appearance: none!important;
}

.public-collapse > p {
  margin-bottom: 0px;
}

.btn-date-remove {
  color: #d9534f;
}

.nested-field {
  border-radius: 4px !important;
}

.bbox_nested {
  border-radius: 4px !important;
}

.search-result-wrapper > .col-md-6 {
  width: 80% !important;
}

.form-control.select {
  width: 100% !important;
}

.form-control.string {
  width: 100% !important;
}

#new_date_type {
  width: 99% !important;
}

.form-control.multi_value {
  width: 100% !important;
}

.form-control:not(.multi_value) {
 width: 99% !important;
}

.tombstone-text {
  word-wrap: break-word;
}

/* Override Hyrax CSS so that first multivalue input can be removed */
.form-group.multi_value .listing li:first-of-type .remove,
.form-group.controlled_vocabulary .listing li:first-of-type .remove {
  display: unset;
}
.form-group.multi_value .listing li:only-of-type .remove,
.form-group.controlled_vocabulary .listing li:only-of-type .remove {
  display: none;
}
.form-group.multi_value .listing li:first-of-type,
.form-group.controlled_vocabulary .listing li:first-of-type {
  width: 100%;
}