@import 'osu_settings';

#home_header {
  background-image: image-url("building.jpg");
}

/*Mobile phone*/
@media (max-width: 479px) {
  #masthead.container-fluid {
    background: none repeat scroll 0% 0% $osu-black;
    border-bottom: none;
    text-align: left;
    font-size: 13px;
  }

  #masthead {
    min-height: 2.5em;
  }

  #masthead .institution_name {
    font-size: 1.5em;
    line-height: 2em;
    margin-left: 0em;
  }
  
  #masthead_controls {
    background-color: transparent;
    border-bottom: none;
  }

  div#masthead_controls.container-fluid { 
    background: $osu-orange;
  }

  #masthead_controls.container-fluid .navbar.navbar-default {
    background-color: transparent;
  }

  #masthead-controls .row .col-xs-12.col-sm-5.col-md-6 {
    background: $osu-orange;
  }

  #masthead_controls .navbar a:link, 
  #masthead_controls .navbar a:visited {
    background: $osu-orange;
    border-top: 1px solid $osu-orange;
    color: #FFF;
  }

  #masthead_controls .navbar-default .navbar-nav > .active > a {
    font-weight: bold;
    background: none repeat scroll 0% 0% $osu-orange;
  }

  #masthead_controls .navbar-default .navbar-nav > li > a:hover,
  #masthead_controls .navbar-default .navbar-nav > li > a:focus {
    background: none repeat scroll 0% 0% $osu-black;
  }

  #masthead_controls .navbar-default .navbar-nav > .active > a:hover {
    background: none repeat scroll 0% 0% $osu-orange;
  }

  #masthead_controls .navbar li,
  #masthead_controls .navbar li:first-child {
    border-right: 2px solid $osu-orange;
    border-left: 2px solid $osu-orange;
  }

  #masthead_controls nav.navbar.navbar-default {
    margin-top: -0.55em;
  }

  #masthead #user_utility_links.btn-group {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: -0.5em;
  }

}

/*Tablets*/
@media (min-width: 480px) and (max-width: 767px) {
  #masthead .institution_name {
    font-size: 1.7em;
  }

  div#masthead_controls.container-fluid { 
    background: $osu-orange;
  }

  #masthead_controls.container-fluid .navbar.navbar-default {
    background-color: transparent;
  }

  #masthead-controls .row .col-xs-12.col-sm-5.col-md-6 {
    background: $osu-orange;
  }

  #masthead_controls .navbar a:link, 
  #masthead_controls .navbar a:visited {
    background: $osu-orange;
    border-top: 1px solid $osu-orange;
    color: #FFF;
  }

  #masthead_controls .navbar-default .navbar-nav > .active > a {
    font-weight: bold;
    background: none repeat scroll 0% 0% $osu-orange;
  }

  #masthead_controls .navbar-default .navbar-nav > li > a:hover,
  #masthead_controls .navbar-default .navbar-nav > li > a:focus {
    background: none repeat scroll 0% 0% $osu-black;
  }

  #masthead_controls .navbar-default .navbar-nav > .active > a:hover {
    background: none repeat scroll 0% 0% $osu-orange;
  }

  #masthead_controls .navbar li,
  #masthead_controls .navbar li:first-child {
    border-right: 2px solid $osu-orange;
    border-left: 2px solid $osu-orange;
  }

}

@media (min-width: 481px) {

}


/*Desktop*/
@media (min-width: 768px) and (max-width: 979px)
{

}

@media (min-width: 980px) {

}

@media (max-width: 979px) {

}

@media (max-width: 768px) {

}
