/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'sufia/sufia';

a.geonames_link {
  line-height: 2em;
  font-size: 1.25em;
  margin-left: 5px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
}

#home_header  {
  background-image: image-url('sa-header.jpg') !important;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #E1E1E1;
  border-bottom: 8px solid #E1E1E1;
}
