<h2>Contacts & Links</h2>
<p><a href="mailto:scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a></p><p><hr /></p>
<p><a href="/"><%= t('sufia.product_name') %></a></p>
<p><a href="/help">General FAQ</a></p>
<p><a href="/help/faculty">Faculty FAQ</a></p>
<p><a href="/help/graduate">Graduate Student FAQ</a></p>
<p><a href="/help/undergraduate">Undergraduate Student FAQ</a></p>
