<a id="logo" class="navbar-brand" href="https://oregonstate.edu" data-no-turbolink="true">
  <img src="<%= path_to_image('oregon-state-university-logo.svg') %>" class="osu-logo" alt="Oregon State University">
</a>
