<div class="stats-container" style="height:200px;">
  <% present @stats do |work_stats| %>
    <table class="table table table-bordered table-analytics">
      <thead>
        <tr>
          <th></th>
          <% work_stats.date_list_for_monthly_table.each do |month| %>
            <th><%= month %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Page Views </td>
          <% work_stats.date_list_for_monthly_table.each do |month| %>
            <td>
              <%= work_stats.pageviews_by_month[month] %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= link_to "Daily Stats (CSV)", "/works/#{params[:id]}/work_daily_stats.csv" %> | 
    <%= link_to "Monthly Stats (CSV)", "/works/#{params[:id]}/work_monthly_stats.csv" %>
  <% end %>
</div>
