<!-- OVERRIDE FROM HYRAX TO UPDATE LABEL STYLE -->
<div class="row">
  <div class="col-md-12">
    <fieldset id="representative-media">
      <label class="control-label optional">
        <%= t("hyrax.base.form_rendering.legend_html") %>
      </label>
      <p><%= t("hyrax.base.form_rendering.help_html") %></p>
      <%= f.select :rendering_ids,
                   f.object.select_files,
                   { include_blank: true },
                   { class: 'form-control', multiple: true } %>
    </fieldset>
  </div>
</div>