<% unless presenter.nested_geo_bbox.empty? %>
    <tr>
      <th><%= raw t('blacklight.search.form.nested_geo_bbox') %></th>
      <td>
        <ul class="tabular">
          <% presenter.nested_geo_bbox.each do |bbox| %>
              <li class="attribute">
        <span itemprop="location" itemscope itemtype="http://schema.org/GeoCoordinates">
         <span itemprop="label"><%= link_to_sa_field('nested_geo_bbox_label_ssim', bbox) %></span>
       </span>
              </li>
          <% end %>
        </ul>
      </td>
    </tr>
<% end %>